* {
 margin: 0px;
 padding: 0px;
 font-family: monospace;
}
.App-title {
	position: fixed;
	top: 0px;
	right: 0px;
	padding-right: 10px;
}

.Landing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Landing-title h2 {
  padding: 10px 0px;
}
.Landing-contact {
  padding: 10px 0px;
}
.Landing-contact a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.Landing-links {
  display: flex;
  flex-direction: column;
}
.Landing-link {
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Landing-link:hover {
  background-color: #C46464;
}
.Landing-link .icon {
  padding-right: 5px;
}
.App {
  text-align: center;
  background-color: #222;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #f67e7d;
  background-image: url('./jplogo.png');
  background-position: center;
  background-size: contain;
}

.App-header-container {
  background-color: #222;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
  height: 50px;
  padding: 5px 0px;
}
.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:700px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
.App-header .title {
     color: white;
    display: flex;
    align-items: center;
}
.App-header .contact {
    display: flex;
    flex-direction: column;
}
.App-header .contact code {
    padding-bottom: 5px;
}
.App-header .title h2 {
    margin-left: 5px;
    font-family: "Corbert Condensed Italic";
    font-weight: normal;
    text-decoration: underline;
}
.App-header a {
    color: white;
}
.App-image {
    height: 700px;
    width: 100%;
    /* Location of the image */


    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-position-y: 75px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.App-image .quote{
  font-size: 2.4em;
  width: 400px;
  font-family:Open Sans;
  font-style:italic;
  color: #F5DEB3;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #F5DEB3;
  position: relative;
  background: transparent;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.App-image .quote::before{
  font-family:Arial;
  content: "\201C";
  color: #F5DEB3;
  font-size:2em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.App-image .quote::after{
  content: '';
}

.App-image .quote span{
  display:block;
  color: #F5DEB3;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.quote-image {
    width: 12em;
}

.divider {
    height: 25px;
}

.footer {
    color: gray;
    align-items: center;
    font-size: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 1050px) {
    .services-offered p {
        margin: 10px;
    }
    .services-offered .services-description ul {
        margin-left: 0px;
        padding-left: 10px;
        margin-top: 0px;
    }
    .services-offered .services-description {
        flex-direction: column;
    }
    .services-offered .services-description ul > li {
        font-size: 12px;
    }
    .skills p {
        margin: 10px;
    }
    .skills .skills-description ul {
        margin-left: 0px;
        padding-left: 10px;
        margin-top: 0px;
    }
    .skills .skills-description {
        flex-direction: column;
    }
    .skills .skills-description ul > li {
        font-size: 12px;
        margin-right: 10px;
    }
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font-family: "Corbert Condensed Italic";
}

/* Scrollbar size */
::-webkit-scrollbar {
    width: 5px; /* To change vertical scrollbar width */
    height: 5px; /* To change horizontal scrollbar height */
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #3d3d42;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5d5d5d;
}
::-webkit-scrollbar-thumb:hover{
    background: #868686;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}


.App-pages {
	width: 100%;
}
.App-page {
	width: 100%;
	margin: 0 auto;
  background-color: rgba(246,126,125,0.3);
  border-radius: 25px;
  color: white;
  border: 1px solid white;
  height: 100%;
  padding-top: 75px;
  display: flex;
}
.App-welcomescreen {
    background-color: rgba(246,126,125,0.3);
    border-radius: 25px;
    color: white;
    border: 1px solid #f67e7d;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Landing-info {
  margin-right: 25px;
}
.App-content-body {
	padding: 25px;
}
.Landing-page {
  padding-top: 0px;
}
.Landing-page .App-splashscreen {
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-image: url("./jpoms2.jpg");
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 100;
  position: fixed;
}

.LandingLinks-page .App-splashscreen {
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 100;
  position: fixed;
}

.profile-card {
	max-width: 600px;
	max-height: 400px;
	margin: 30px auto;
	border: 1px solid white;
	border-radius: 25px;
	display: flex;
	padding: 10px;

}
.profile-card-image {
	max-width: 50%;
	border-radius: 25px;
	border: 1px solid white;
	height: auto;
}

.profile-card-info {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding-left: 10px;
	padding-top: 5px;
}

.profile-card-info-section {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-right: 10px;
}

.profile-card-info-interests {
	display: flex;
	font-size: 10px;
	flex-direction: row;
 	flex-wrap: wrap;
  justify-content: space-evenly;
}
.profile-card-info-interests-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.profile-card-info-interests div {
    width: 125px;
    margin: auto;
    padding: 2px;
}
.bold-title {
	font-weight: 700;
	padding-right: 10px;
}

.App-content-section {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.App-content-section .margin-left {
  padding-left: 20px;
}
.App-content-section div {
  width: auto;
}
.App-content-section-contacts {
	margin: 10px auto;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	border: 1px solid white;
	padding: 5px;
	border-radius: 25px;
	justify-content: space-around;
}

.App-content-section-contacts a{
	font-size: 9px;
	color: white;
}

.App {
  height: 100vh;
}
.left-side-history {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.right-side-history {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}

.history-section {
  max-width: 900px;
  margin: 0 auto;
  margin-right: 10px;
}

.filter-options {
  width: 300px;
  height: 100px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.App-content {
  margin: 0 auto;
}


.History-page {
  padding-top: 5px;
}

.timeline-card-content {
  border: 1px solid white;
}

.App-logo {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}


.back-button {
  padding: 10px;
  left: 0;
  color: #f67e7d;
}
.back-button .icon {
  height: 50px;
  width: 50px;
  color: #f67e7d;
}

.download-button {
  padding: 10px;
  left: 0;
}
.download-button .icon {
  height: 50px;
  width: 50px;
  color: #f67e7d;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.history-tags {
  margin-top: 25px;
  background-color: rgba(246,126,125,0.3);
  border-radius: 4px;
  color: white;
  border: 1px solid #f67e7d;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.loading-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 45%;
  right: 45%;
  animation: rotation 2s infinite linear;
}
.tags-title {
  align-self: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}
.timeline-card-content header {
  border-bottom: 1px solid white;
}
.event-type {
  font-weight: bold;
  font-size: 14px;
  color: rgba(246,126,125,0.3);
  width: 95%;
}

.left .event-type {
  text-align: right;
}
.current-projects {
  margin-top: 25px;
  background-color: rgba(246,126,125,0.3);
  border-radius: 4px;
  color: white;
  border: 1px solid #f67e7d;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.projects-title {
  align-self: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px;
}

.using-icon {
  padding-bottom: 2px;
  padding-right: 1px;
  background-color: rgba(246,126,125,0.3) !important;
}

.card-description {
  max-width: auto !important;
  width: 100% !important;
  margin: 0px !important;
}

.event-media {
  display: flex;
  flex-direction: row;
  max-width: 350px;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.event-media img {
  height: 100px;
  width: auto;
  padding: 10px;
  opacity: .5;
}
.hidden {
  display: none !important;
}

.reference-container {
  display: flex;
  flex-direction: row;
}

.reference {
  padding-right: 5px;
}
.reason, .reference {
  font-weight: bold;
  font-size: 14px;
}

.timeline-card-content {
  min-height: auto !important;
}
.history-event {
  width: 100%;
}
li {
  margin-left: 15px;
  list-style-type: circle;
}
li::marker {
  color: white;
  font-size: 1.2em;
}

.markdown {
  margin: 0px 10px;
  max-width: 90%;
}
td {
  padding: 3px;
}

.filter-option input {
  margin-right: 5px;
  margin-top: 1px;
}

.filter-option {
  vertical-align: middle;
  display: flex;
  margin-top: 4px;
}

@media only screen and (max-width: 1725px) {
  .left-side-history {
    flex-direction: column;
  }

  .right-side-history {
    flex-direction: column;
  }
  .filter-options {
    width: 100px;
    height: 200px;
  }

}
@media only screen and (max-width: 1225px) {
	.App-splashscreen {
		background-position-x: -45px;
	}
  .LandingLinks-page .App-splashscreen {
    padding-top: 100px;
  }
  .side-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .history-section {
    height: 73vh !important;
    max-width: 100%;
  }

  .left-side-history {
    display: flex;
    position: relative;
    flex-direction: row;
  }
  .right-side-history {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .history-tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .download-button {
    order: 2;
  }
  .filter-options {
    min-width: 300px;
    height: 115px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .timeline-main-wrapper {
    padding-left: 0px !important;
  }
  .event-media {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1148px) {
  .event-media {
    max-width: 400px;
  }
}
@media only screen and (max-width: 940px) {
  .event-media {
    max-width: 300px;
  }
}
@media only screen and (max-width: 724px) {
  .event-media {
    max-width: 250px;
  }
}
@media only screen and (max-width: 688px) {
  .history-section {
    max-width: 100%;
  }

  .App-content {
    max-width: 100%;
  }

  .timeline-main-wrapper {
    padding-left: 0px !important;
  }
  .side-bars {
    flex-direction: column;
    max-width: 100vw;
    margin: 0;
    align-items: center;
  }
  .left-side-history {
    max-height: 50px;
  }
  .history-section {
    width: 100vw;
    height: auto;
  }
  .filter-options {
    min-width: 200px;
  }
  .event-media {
    max-width: 200px;
  }
  .reference-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 510px) {
  .event-media {
    max-width: 150px;
  }
  .App-logo {
    height: 50px;
    width: 50px;
  }
  .LandingLinks-page .App-splashscreen {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 415px) {
  .event-media {
    max-width: 100px;
    margin: 0 auto;
  }
  .App-content {
    margin: 0px;
  }
  .timeline-card-content {
    max-width: 100%;
  }
  .markdown {
    margin: 0px;
    font-size: 10.5px;
  }
  .reason, .reference {
    font-size: 12px;
  }
  .card-sub-title {
    width: 94% !important;
  }
  .card-title {
    font-size: 12px !important;
  }

  .card-description {
    padding-left: 7px !important;
  }
  .history-section {
    height: 63vh !important;
  }
}

@media only screen and (max-width: 360px) {
  .history-section {
    height: 53vh !important;
  }
}
